body {
    margin-left: 0px;
    font-family: 'Raleway', sans-serif;
    margin-right: 0px;
    margin-bottom: 0px;
}

header {
    margin-left: 30px;
}

.logo {
    display: flex;
}

.logo img {
    width: 30%;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

#heb-act a {
    padding-top: 30px;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}


nav {
    display: flex;
    align-items: center;
}

#heb-act a:hover {
    border-top: 3px solid #0065FC;
    margin-top: 0px;
    padding-top: 64px;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}
}

header h1 {
    font-size: 1.3em;
}

header h2 {
    font-size: 0.8em;
    font-weight: lighter;
}

#search {
    display: flex;
    height: 40px;
}

#search input {
    border-top: 1px #f3ededd8 solid;
    border-bottom: 1px #f3ededd8 solid;
    border-left: 1px #f3ededd8 solid;
    border-right: none;
    width: 10%;
}

#search i {
    width: 40px;
    height: auto;
    padding-top: 10px;
    padding-left: 3px;
    background: #f3ededd8;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

#search button {
    width: 6%;
}

#search .fa-search {
    display: none;
}

::placeholder {
    opacity: 1;
    font-weight: bolder;
}

:placeholder-shown{
    padding-left: 10px;
}

#submit {
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: #0065FC 1px solid;
    color: white;
    text-align: center;
    font-size: smaller;
}

#filtres {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

#filtres h3 {
    font-size: 1em;
}

#filtres p {
    border: 1px solid #b8b6b6c4;
    border-left: transparent;
    width: fit-content;
    border-radius: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-weight: bold;
}

#filtres span {
    border: 5px transparent rgba(136, 136, 255, 0.5);
    border-radius: 50%;
    
    padding: 0.7em 0.7em 0.7em 0.7em;
    background-color: #DEEBFF;
    color: #0065FC;
}


#eco:hover {
    background-color: black;
    color: white;
}

#family:hover {
    text-decoration: underline;
}

#romance:hover {
    text-decoration: underline;
}

#pets:hover {
    text-decoration: underline;
}


#info span {
    color: #0065FC;
    border: 1px solid #b8b6b6c4;
    padding: 3px;
    border-radius: 100%;
    background-color: white;
    
}

#info i {
    width: 15px;
    text-align: center;
}

#info {
    font-size: 0.7em;
    margin-bottom: 30px;
}

#hebergement {
    /*border: 3px solid blue;*/
    margin-left: 30px;
    width: 65%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3ededd8;
    border-radius: 12px;
}

#images {
    height: 620px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 3px solid brown;*/
    
}

#images img {
    width: 20em;  
    height: 150px;
    padding: 5px;
    object-fit: cover;
    border-radius: 12px 12px 0 0px;
    
}

.heb {
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#images .fas {
    color: blue;
    margin-bottom: 10px;
}

#images .empty {
    color: grey;
}

.heb p, .heb .first {
    padding-left: 20px;
    margin: 0;
}

.name {
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 5px;
}

.night {
    font-size: 0.9em;
    padding-bottom: 5px;
}

#more {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#more:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#populaire {
    /*border: black 3px solid;*/
    width: 23%;
    height: auto;
    display: flex;
    margin-left: 40px;
    border-radius: 12px;
    background-color: #f3ededd8;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#populaire h1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

#populaire .fa-star {
    padding-top: 15%;
}

#coeur .fa-star {
    padding-top: 8%;
}

.image_aside {
    height: 20%;
    border-radius: 12px;
    display: flex;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 20px;
}


.desc {
    padding-left: 20px;
    margin-top: 0%;
}

.desc .fas {
    color: blue;
}

.desc .empty {
    color: grey;
}

.image_aside img {
    /*border: brown 3px solid;*/
    width: 130px;  
    height: 140px;
    padding: 5px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.image_aside a {
    display: flex;
    text-decoration: none;
    color: black;
    
}


/* ACTIVITY */


#activity h1 {
    margin-left: 30px;
}

.activ {
    margin-left: 30px;
    display: grid;
    width: 94%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: repeat(4, 1fr);
    grid-gap: 5em;
}

.activ img {
    object-fit: cover;
    width: 100%;
    
}

#port {
    grid-column: 1;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

#port img {
    height: 400px;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#port p {
    padding-left: 20px;
}

#fort {
    grid-column: 2;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 55%;
    border-radius: 12px;
}

#fort img {
    height: 200px;
    width: 100%;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#fort p {
    padding-left: 20px;
}

#iles {
    grid-column: 2;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: flex-end;
    border-radius: 12px;
}

#iles img{
    height: 90px;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#iles p {
    padding-left: 20px;
    
}

#calanques {
    grid-column: 3;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

#calanques img {
    height: 400px;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#calanques p {
    padding-left: 20px;
}

#dame {
    grid-column: 4;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40%;
    border-radius: 12px;
}

#dame img {
    height: 140px;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#dame p {
    padding-left: 20px;
    
}

#parc {
    grid-column: 4;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: flex-end;
    height: 45%;
    border-radius: 12px;
}

#parc img {
    height: 150px;
    padding: 0px;
    border-radius: 12px 12px 0 0;
}

#parc p {
    padding-left: 20px;
}


/* FOOTER */

footer {
    display: flex;
    margin-top: 5%;
    background-color: #f3ededd8;
    justify-content: space-between;
}

footer > div {
    width: 30%;
    margin-left: 30px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    height: 40%;
    padding-top: 0px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h2 {
    font-size: 1.2em;
}

#about {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    height: 60%;
}



@media (max-width: 1600px) {

    #search {
        width: 120%;
    }

    .logo img {
        width: 35%;
        margin-bottom: 1%;
    }
    
    #heb-act a:hover {
        border-top: 3px solid #0065FC;
        margin-top: 0px;
        padding-top: 70px;
    }

    #filtres {
        width: 70%;
    }


    #populaire .fa-star {
        padding-top: 0px;
    }
    
    #coeur .fa-star {
        padding-top: 0px;
    }

    .image_aside {
        height: 25%;
    }

    .image_aside img {
        height: 95%;
    }


    #images {
        height: 700px;
        display: flex;
        align-content: space-around;
        justify-content: space-between;
        flex-wrap: wrap;
        /*border: 3px solid brown;*/
        
    }
    
    #images img {
        width: 15em;  
        height: 150px;
        padding: 5px;
        object-fit: cover;
        border-radius: 12px 12px 0 0px;
    }
    
    .heb {
        background-color: white;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

}


@media (max-width: 1250px) {

    .logo img {
        width: 50%;
        margin-bottom: 1%;
    }

    #search {
        width: 180%;
    }

    #heb-act a:hover {
        border-top: 3px solid #0065FC;
        margin-top: 0px;
        padding-top: 84px;
    }

    #filtres {
        width: 90%;
    }

    #hebergement {
        width: 80%;
    }

    #images img {
        width: 10em;  
        height: 150px;
        padding: 5px;
        object-fit: cover;
        border-radius: 12px 12px 0 0px;
    }

    #populaire {
        margin-top: 30px;
        width: 80%;
        height: 650px;
        display: flex;
        margin-left: 40px;
        border-radius: 12px;
        background-color: #f3ededd8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    #populaire h1 {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        font-size: 1.3em;
    }


    #populaire .fa-star {
        padding-top: 15%;
    }

    .image_aside img {
        height: 94%;
    }
    
    .image_aside {
        border-radius: 12px;
        display: flex;
        width: 80%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-right: 20px;
    }

    .activ {
        grid-gap: 2em;
    }

    #dame {
        grid-column: 4;
        grid-row: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 50%;
        border-radius: 12px;
    }


}


@media only screen and (min-width:350px) and (max-width: 750px) {

    body {
        padding-right: 0px;
        margin-top: 0px;
        
    }

    header {
        margin-left: 0px;
        
    }

    #hebergement {
        display: none;
        visibility: collapse;
    }

    section {
        display: none;
        visibility: collapse;
    }

    #filtres {
        display: none;
        visibility: collapse;
    }

    footer {
        display: none;
        visibility: collapse;
    }


    #search {
        display: flex;
        width: auto;
    }


    .logo img {
        width: 30%;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    #head {
        position: relative;
    }
   
    #heb-act {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        /*border: 3px solid black;*/
    }

    #heb-act a {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 3px solid #F2F2F2;
    }

    #heb-act a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        padding-top: 0px;
        align-self: end;
    }

    #sign-up {
        font-weight: bolder;
        color: #0065FC;
        margin-bottom: 20px;
    }

    header h1, header h2 {
        margin-left: 20px;
        margin-right: 20px;    
    }

    header h1 {
        font-size: 1.8em;
        font-weight: bolder;
        margin-bottom: 0px;
    }

    header h2 {
        font-size: 1.3em;
        margin-bottom: 5%;
    }









    #activity {
        width: 100%;
        /*border: 3px solid black;*/
        flex-direction: column;
    }

    .activ {
        margin-left: 0px;
        display: flex;
        width: 94%;
        grid-template-columns: 1fr;
        grid-column: 1fr;
        grid-gap: 0px;
        flex-direction: column;
    }

    


}