body {
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
}

.logo {
    display: flex;
}

.logo img {
    width: 5%;
}

#link {
    display: flex;
    list-style-type: none;
    margin-left: 75%;
    width: 300px;
    justify-content: space-around;
}

#link a {
    text-decoration: none;
    color: #0065FC;
}

#link a:visited {
    /* color: grey; */
}

#link li {
    font-size: 0.9em;
}

header h1 {
    font-size: 1.3em;
}

header h2 {
    font-size: 0.8em;
    font-weight: lighter;
}

#search {
    display: flex;
    height: 30px;
}

#search input {
    border-top: 1px #b8b6b6c4 solid;
    border-bottom: 1px #b8b6b6c4 solid;
    border-left: 1px #b8b6b6c4 solid;
    border-right: none;
}

#search i {
    width: 25px;
    height: auto;
    padding-top: 7px;
    background: #b8b6b6c4;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

::placeholder {
    opacity: 1;
    font-weight: bolder;
}

#submit {
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: #0065FC 1px solid;
    color: white;
    text-align: center;
    font-size: smaller;
}

#filtres {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

#filtres h3 {
    font-size: 1em;
}

#filtres p {
    border: 1px solid #b8b6b6c4;
    
    width: fit-content;
    border-radius: 50px;
    padding: 10px;
    padding-left: 0;
    font-weight: bold;
}

#filtres span {
    border: 2px transparent rgba(136, 136, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    background-color: #DEEBFF;
    color: #0065FC;
}


#eco:hover {
    background-color: black;
    color: white;
}

#family:hover {
    text-decoration: underline;
}

#romance:hover {
    text-decoration: underline;
}

#pets:hover {
    text-decoration: underline;
}


#info span {
    color: #0065FC;
    border: 1px solid #b8b6b6c4;
    padding: 3px;
    border-radius: 100%;
    background-color: white;
    
}

#info i {
    width: 15px;
    text-align: center;
}

#info {
    font-size: 0.7em;
}


section {
    /*display: flex;
    flex-wrap: wrap;*/
}

#hebergement {
    border: 3px solid blue;
    width: 60%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3ededd8;
    border-radius: 12px;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    border: 3px solid brown;
}

#images img {
    width: 300px;  
    height: 150px;
    padding: 10px;
    object-fit: cover;
    margin-top: ;
}

.heb {
    border: 3px black solid;
    background-color: white;
    border-radius: 12px;

}

#images .fas {
    color: blue
}

#images .empty {
    color: grey
}

.heb p, .heb .first {
    padding-left: 20px;
    margin: 0;
}

.name {
    font-weight: bolder;
    font-size: 1em;
}

.night {
    font-size: 0.9em;
}